<!DOCTYPE html>
<html>
<head>
  <title>Swag3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class ="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "19th Hole", root_path, :class => "brand" %>
				
				<div style="float: right;"><p>
   <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %> 

			</div>
		</div>
	</div>
<div class="container">
	<div class="row">
		<div class="span9">
<%= yield %>
<img src="../assets/lucas.jpg">
</div>

<div class="span3 sidebar">
	<div class="Golf-fashion-site">
		<h4>Shop with us today!</h4>
		<table height=300> reserved for sign in/up </table>
	</div>

	<div class="about">
		<h4>About 19th Hole Swag</h4>
		<p>Swag3 is a project flash sale site for golfers</p>
		<p>You can shop for top brands here</p>
		<p>For customer service fee free to email: <a href="mailto:anisul.huq90@gmail.com">anisul.huq90@gmail.com</a></p>
	</div>
</div>
</div>
</div>


<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

	

</body>
</html>
